.dropdown-menu > li > a {
    display: block;
    padding: 2px 15px;
    clear: both;
    font-weight: 500;
    line-height: 2;
    color: #f19100;
    white-space: nowrap;
}

.navbar > ul > li > a {
    line-height: 2;
    color: #f19100;
    font-weight: 500;
}

.navbar > ul > li {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}
